@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<RadzenDialog />
<RadzenNotification />
<!--nav-->

<div class="sidebar" >
    <div>
        <div >
            <img  class="Logo" src="/images/logosp.pmg.jpg">
        </div>
        <div >
            <img class="NameimgLogo" src="/images/nameSP.png">
        </div>
        <NavMenu></NavMenu>
    </div>
</div>
<!--*********************************************************-->

<div class="main">
    <!--header-->

    <div id="titletop" class="top-row px-4" style="background-color:#072565; z-index:10">
        <h2 id="ttid" style="text-align:center; margin:auto;color: #005882;font-size: 35px;font-weight:bold;font-family:'Times New Roman'" class="font-weight-800">
            <a class="title text-white text-sm-center ">
                CƠ SỞ DỮ LIỆU KHOA HỌC VÀ CÔNG NGHỆ
            </a>
        </h2>

    </div>
    <!--******-->

    <!--BODY-->
    @Body
    <!--*****-->
</div>
<!--footer-->
<div class="footer">
    
</div>
<!--*************-->
