@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<RadzenDialog />
<RadzenNotification />
<div class="sidebar">
    <div>
        <img id="imglogo" src="images/logosp.png" alt="Image">
    </div>
    <div>
        <NavMenu></NavMenu>
    </div>
</div>
<!--title-->
<div class="main">
    <div id="titletop" class="top-row px-4" style="background-color:#072565; z-index:10">

        <div class="col-xs-12 col-sm-8 col-md-9">

            <h2 id="ttid" style="text-align:center; margin-top:10px;margin-left:1px;margin-right:1px;color: #005882;font-size: 35px;font-weight:bold;font-family:'Times New Roman'" class="font-weight-800">
                <a class="title text-white text-sm-center ">
                    CƠ SỞ DỮ LIỆU KHOA HỌC VÀ CÔNG NGHỆ
                </a>
            </h2>
        </div>
        <div class="d-flex justify-content-end">
            <div id="btnlogin">
                <a href="/Login" class="btnlogin">LOGIN</a>
            </div>

        </div>
    </div>
    @Body
</div>
<!--footer-->
<div class="footer">
    <p>Footer</p>
</div>