@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />



<div class="sidebar">
    <div>
        <img id="imglogo" src="images/logosp.png" alt="Image">
    </div>

    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
    <!-- Footer -->
    <footer>

        <div class="footers">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div style="margin-right :7rem">
                            <img id="imglogo" src="images/Logohcmue2.png" alt="Image">
                        </div>
                        <p class="font1 widget-title m-0 widget-title reset_pass">Bản quyền thuộc Đại học Sư Phạm TPHCM © 2018.</p>
                    </div>
                    <div class="col-lg-3 col-sm-2 col-xs-3">
                        <h3> Thông Tin Liên Hệ </h3>
                        <ul>
                            Phòng Khoa học Công Nghệ
                            <br />Môi trường và Tạp chí Khoa học
                            <br /> Trường Đại học Sư Phạm TP Hồ Chí Minh
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-2 col-xs-3">
                        <ul>
                            <h3>Địa Chỉ</h3>
                            <li><h5><a href="#">   Số 280 An Dương Vương - TP HCM </a></h5></li>
                        </ul>
                    </div>

                    <!--/.row-->
                </div>
                <!--/.container-->
            </div>
            <!--/.footer-->

            <div class="footer-bottom">
                <div class="container">
                    <p class="pull-left copyright"> Quản Lí Khoa Học</p>

                </div>
            </div>
            <!--/.footer-bottom-->
        </div>
    </footer>
    <!-- Footer -->
</div>
