@page "/bestvuowng"
<h3>Component</h3>
<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
    <input class="input100" type="text" name="email">
    <span class="focus-input100"></span>
    <span class="label-input100">Email</span>
</div>


<div class="wrap-input100 validate-input" data-validate="Password is required">
    <input class="input100" type="password" name="pass">
    <span class="focus-input100"></span>
    <span class="label-input100">Password</span>
</div>

@code {

}
